#header-bg {
    background: #282828;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    width: 95%;
}

.r-bg {
    background: #447490;
}

.name-header {
    color: #F2F2F2;
    font-size: 44px;
}

.title-header {
    color: linear-gradient(90.32deg, #2F80ED 0.14%, #5D0DAD 99.86%);
    font-size: 48px;
}

.resume-btn {
    background-color: transparent;
    color: #7cbee5;
    padding: 14px 32px;
    text-align: center;
    font-size: 16px;
    border-style: solid;
    border-color: #7cbee5;
    border-width: 2px;
    border-radius: 5px;
}

.resume-btn:hover {
    background-color: #7cbee5;
    color: #F2F2F2;
}

.y-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.shrink-wrap {
    width: fit-content;
}

.btn-holder {
    display: flex;
    justify-content: left;
    align-content: left;
    flex-direction: row;
}